<!-- Admin Navbar -->
	<div class="w3-container">
		<div class="w3-bar w3-light-grey">
		    <a href="/" class="w3-bar-item w3-button w3-right">Logout</a>
		    {% if metricsViewable %}
		    <div class="w3-dropdown-hover w3-right">
	 			<button class="w3-button">Metrics</button>
	 			<div class="w3-dropdown-content w3-bar-block w3-card-4">
	 			    {% if slive %}
	 			        {% for survey in slive %}
	 			          <a href="/metrics/{{survey.getCourseName()}}"class="w3-bar-item w3-button">{{survey.getCourseName()}}</a>
	 			        {% endfor %}
	 			    {% endif %}
	 			    {% if sreviewed %}
	 			        {% for survey in sreviewed %}
	 			          <a href="/metrics/{{survey.getCourseName()}}"class="w3-bar-item w3-button">{{survey.getCourseName()}}</a>
	 			        {% endfor %}
	 			    {% endif %}
			    </div>
			 </div>
			 {% endif %}
			<div class="w3-dropdown-hover w3-right">
	 			<button class="w3-button">View</button>
	 			<div class="w3-dropdown-content w3-bar-block w3-card-4">
			        <a href="/admin/viewSurveysList" class="w3-bar-item w3-button">Active Surveys</a>
			        <a href="/admin/allQuestions" class="w3-bar-item w3-button">All Questions</a>
			    </div>
			</div>
			<div class="w3-dropdown-hover w3-right">
	 			<button class="w3-button">Add</button>
				<div class="w3-dropdown-content w3-bar-block w3-card-4">
	        		<a href="/admin/addQuestion" class="w3-bar-item w3-button">New Question</a>
				    <a href="/admin/chooseSession" class="w3-bar-item w3-button">New Survey</a>

				</div>
			</div>
			<a href="/admin/dashboard" class="w3-bar-item w3-button w3-right">Home</a> 
	  </div>
	</div>
<!-- End Navbar -->
