<!DOCTYPE html>
<html>
<title>Course Selection</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>	body {font-family: "Lato", sans-serif} </style>

<body>
<!-- Admin Navbar -->
    {% include 'adminNav.html' %}
<!-- End Navbar -->
	
<!-- Page content -->

	<h1> You have succesfully created a new survey</h1>
	
	<a href="/admin/chooseSession" class="w3-bar-item w3-button">Add Another Survey</a><br>
	<a href="/admin/dashboard" class="w3-bar-item w3-button">Return To Dashboard</a> 
		
</body>
</html>
