<!DOCTYPE html>
<html>
<title>All Questions</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>	body {font-family: "Lato", sans-serif} </style>

<body>
<!-- Admin Navbar -->
    {% include 'adminNav.html' %}
<!-- End Navbar -->


<!-- Page content -->

	<h1> All Questions</h1>

	<form action="" method="post">
	
    	<h3> Mandatory Questions include</h3>
	    
    	{% if mandatoryq %}
	        {% for q in mandatoryq %}
	            {{ q.getQuestionString() }}
	            {% if q.getAnswerType() %}
	                (MCQ)
	            {% else %}
	                (TEXT)
	            {% endif %}         
	             <button type="button" value={{q}}>Remove</button><br>
	        {% endfor %}
	    {% endif %}
	
	    <h3> Optional Questions include</h3>
	
	    {% if optionalq %}
	        {% for q in optionalq %}
	            {{ q.getQuestionString() }}
	            {% if q.getAnswerType() %}
	                (MCQ)
	            {% else %}
	                (TEXT)
	            {% endif %} 
	            <button type="button" value={{q}}>Remove</button><br><br>
	        {% endfor %}
	    {% endif %}	
	
	</form>

</body>
</html>







