<!DOCTYPE html>
<html>
<title>Choose Questions</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>	body {font-family: "Lato", sans-serif} </style>

<body>
<!-- Admin Navbar -->
    {% include 'adminNav.html' %}
<!-- End Navbar -->

<!-- Page content-->
	<h1> Choose Questions</h1>
	
	
    <h3>Please select the mandatory questions</h3>
	{% if questions %}
		<Form method="POST">
		{% autoescape false %}
			{% for q in questions %}
				<p>
				<input class = "w3-check" type="checkbox" name="{{q}}">
				<label>{{q.getQuestionString()}}</label>
			    {% if q.getAnswerType() %}
	                (MCQ)
	            {% else %}
	                (TEXT)
	            {% endif %}
	            </p>
			{% endfor %}
			<button class=w3-button" type = "submit" name = "save">Save</button>      	
      {% endautoescape %}
      </Form>
	{%else%}
		No questions have been submitted -> 
		<a href="/admin/addQuestion" class="w3-bar-item w3-button">Add New Question</a>	
	{% endif %}
<!-- Page content -->
</body>
</html>
