<!DOCTYPE html>
<html>
<title>Course Selection</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>	body {font-family: "Lato", sans-serif} </style>

<body>
<!-- Admin Navbar -->
    {% include 'adminNav.html' %}
<!-- End Navbar -->
	
<!-- Page content -->

	<h1> Choose Session</h1>
	    <br>
    	<h2>Sessions</h2>
    	<br>Please select a session from below

		{% for sem in semesters %}
			<div class="w3-dropdown-hover">
			    <button class="w3-button">{{ sem }}</button>
			    <div id = "semCourse" class="w3-dropdown-content w3-bar-block w3-border">
			    {% for course in courses[sem] %}
				    <a href="/addSurvey/{{ sem }}/{{ course }}" class="w3-bar-item w3-button w3-animate-zoom">{{ course }}</a>
			    {% endfor %}
			    </div>
			</div>
		{% endfor %}
		
</body>
</html>
