<!DOCTYPE html>
<html>
<title>Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>	body {font-family: "Lato", sans-serif} </style>

<body>
<!-- Navbar -->
	<div class="w3-container">
		<div class="w3-bar w3-light-grey">
			<a href="/Dashboard" class="w3-bar-item w3-button w3-right">Home</a> 
			<div class="w3-dropdown-hover w3-right">
	 			<button class="w3-button">View</button>
	 			<div class="w3-dropdown-content w3-bar-block w3-card-4">
			        <a href="/viewSurveysList" class="w3-bar-item w3-button">Active Surveys</a>
			        <a href="/QuestionList" class="w3-bar-item w3-button">View Questions</a>
			    </div>
			</div>
			<div class="w3-dropdown-hover w3-right">
	 			<button class="w3-button">Add</button>
				<div class="w3-dropdown-content w3-bar-block w3-card-4">
	        		<a href="/NewQuestions" class="w3-bar-item w3-button">Add Question</a>
				    <a href="/courseSelection" class="w3-bar-item w3-button">Add Survey</a>

				</div>
			</div>
			<a href="/" class="w3-bar-item w3-button w3-right">Logout</a>
	  </div>
	</div>
<!-- End Navbar -->

	<h1>Admin Dashboard</h1>
	No new messages

<!-- Page content -->





</body>
</html>
