<html>
  <head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Fancy HTML -->
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen"> <!-- Fancy HTML -->
  </head>
  <body>
    <div class="container">
      <h1>SURVEY SYSTEM ACCESS</h1>
      <br><br>
      Please login with your user id and password
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Enter your zID" name="zID" value="{{ request.form.zID }}">
        <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p><font color="red" class="error"<strong>Error:</strong> {{ error }}</font></p>
      {% endif %}
    </div>
  </body>
</html>
