<!DOCTYPE html>
<html>
<title>New Questions</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>	body {font-family: "Lato", sans-serif} </style>

<body>
<!-- Admin Navbar -->
    {% include 'adminNav.html' %}
<!-- End Navbar -->


	<h1> New Question Form</h1>
	<form action="" method="post">
        <input type="text" placeholder="Enter a question" name="q" value="{{request.form.q }}">
        <input class="btn btn-default" type="submit" value="Add Question">
	</form>

	{%if status%}
	{{status}}
	{%endif%}
<!-- Page content -->
</body>
</html>
