<!DOCTYPE html>
<html>
<title>Staff Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>	body {font-family: "Lato", sans-serif} </style>

<body>
<!-- Staff Navbar -->
    {% include 'staffNav.html' %}
<!-- End Navbar -->
	
	<h1>Staff Dashboard</h1>
	

	<h3>Courses To Be Reviewed</h3>
	{% if sreviewed %}
	    {% for s in sreviewed %}
	        <a href="/staff/reviewSurvey/{{s.getCourseName()}}" class="w3-bar-item w3-button">{{ s.getCourseName() }}</a>
	        <br>
	    {% endfor %}
	{% else %}
	No surveys have been added.
	{% endif %}
	
	<h3>Released Survey Results</h3>
	No results are available.


<!-- Page content -->

		
</body>
</html>
