<!DOCTYPE html>
<html>
<title>Respondant Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>	body {font-family: "Lato", sans-serif} </style>

<body>
<!-- Student Navbar -->
	<div class="w3-container">
		<div class="w3-bar w3-light-grey">
			<a href="/Dashboard" class="w3-bar-item w3-button w3-right">Home</a> 
			<a href="/" class="w3-bar-item w3-button w3-right">Logout</a>
	  </div>
	</div>
<!-- End Navbar -->

	<h1>Respondant Dashboard</h1>
	
	<h3>Survey reports to be filled out</h3>
	
	
	
	
	<h3>Released survey results</h3>

<!-- Page content -->


</body>
</html>
