<!DOCTYPE html>
<html>
<title>Respondant Dashboard</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>	body {font-family: "Lato", sans-serif} </style>

<body>
<!-- Student Navbar -->
    {% include 'studentNav.html' %}
<!-- End Navbar -->

	<h1>Respondant Dashboard</h1>
	
	<h3>Survey reports to be filled out</h3>
	{% if sanswered %}
	    {% for survey in sanswered %}
	        <a href="/student/survey/{{ survey.course }}" class="w3-bar-item w3-button">{{ survey.course }}</a>
	        <br>
	    {% endfor %}
	{% else %}
	    No current surveys to fill out.
	{% endif %}
	
	
	<h3>Released survey results</h3>
	{% if sclosed %}
	    {% for survey in sclosed %}
	        <a href="/student/metrics/{{ survey.course }}" class="w3-bar-item w3-button">{{ survey.course }}</a>
	        <br>
	    {% endfor %}
	{% else %}
	    No results released yet.
	{% endif %}

<!-- Page content -->


</body>
</html>
