<!DOCTYPE html>
<html>
<title>Survey Thank you</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>	body {font-family: "Lato", sans-serif} </style>

<body>
<!-- Student Navbar -->
    {% include 'studentNav.html' %}
<!-- End Navbar -->
	
<!-- Page content -->

	<h1> Thank you for submitting the survey form</h1>
	
	<a href="/student/Dashboard" class="w3-bar-item w3-button w3-right">Return To Dashboard</a> 
		
</body>
</html>
