
<!DOCTYPE html>
<html>
<title>Survey</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style> body {font-family: "Lato", sans-serif} </style>

<body>

  <!-- Question List -->
  <h1>Welcome to the survey submission form</h1>
  <h2>{{ surveyName }}</h2><br>
  
  {% if message %}
    <p><font color="red" class="error">{{ message }}.</font></p>
  {% endif %}
  
  
  {% if questions %}
    {% autoescape false %}
      <form method="POST">
      {% for q in questions %}
        <h3>
        {{ q.string }}
        {% if q.isMan == 0 %}
        	<font color="light blue" class="error">(optional question)</font>
        {% endif %}
        </h3>
        {% if q.isMCQ %}
            <input type="radio" name="{{ q.string }}" value="0"> 1
            <input type="radio" name="{{ q.string }}" value="1"> 2
            <input type="radio" name="{{ q.string }}" value="2"> 3
            <input type="radio" name="{{ q.string }}" value="3"> 4
            <input type="radio" name="{{ q.string }}" value="4"> 5
        {% else %}
            <input type="text" placeholder="Please enter answer" name="{{ q.string }}">
        {% endif %}
        <br>--------------------------------------------<br>
      {% endfor %}
      <input type="submit" value="Submit">
      </form>
    {% endautoescape %}
  {%else%}
    No questions have been submitted.
  {% endif %}

<!-- Page content -->
</body>
</html>
