<!DOCTYPE html>
<html>
<title>Course Selection</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>	body {font-family: "Lato", sans-serif} </style>

<body>
<!-- Navbar -->
	<div class="w3-container">
		<div class="w3-bar w3-light-grey">
			<a href="/Dashboard" class="w3-bar-item w3-button w3-right">Home</a>
			<a href="/viewSurveysList" class="w3-bar-item w3-button w3-right">View Surveys</a>
			<div class="w3-dropdown-hover w3-right">
	 			<button class="w3-button">Add</button>
				<div class="w3-dropdown-content w3-bar-block w3-card-4">
	        			<a href="/NewQuestions" class="w3-bar-item w3-button">Add Question</a>
					<a href="/NewSurvey" class="w3-bar-item w3-button">Add Survey</a>

				</div>
			</div>
			<a href="/" class="w3-bar-item w3-button w3-right">Logout</a>
	  </div>
    </div>
	
<!-- Page content -->

	<h1>All Current Surveys</h1>
  <h2>Click a survey to be taken to it</h2>
  {% for survey in SurveyList %}
    <a href="/survey/{{ sem }}/{{ course }}" class="w3-bar-item w3-button">{{ sem }} - {{ course }}</a>
	{% endfor %}
		
</body>
</html>
